preproc/stop_times_with_min.csv filter=lfs diff=lfs merge=lfs -text
data/stops.txt filter=lfs diff=lfs merge=lfs -text
data/trips.txt filter=lfs diff=lfs merge=lfs -text
data/agency.txt filter=lfs diff=lfs merge=lfs -text
data/calendar_dates.txt filter=lfs diff=lfs merge=lfs -text
data/feed_info.txt filter=lfs diff=lfs merge=lfs -text
data/pathways.txt filter=lfs diff=lfs merge=lfs -text
data/routes.txt filter=lfs diff=lfs merge=lfs -text
data/shapes.txt filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes.csv filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes_nodirections.json filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes_w_directions_detailed.json filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes_w_directions_detailed.json.zip filter=lfs diff=lfs merge=lfs -text
preproc/stop_and_nearstops.csv filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes_nodirections.csv filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes_nodirections_detailed.json filter=lfs diff=lfs merge=lfs -text
preproc/stops_along_routes_w_directions.json filter=lfs diff=lfs merge=lfs -text
preproc/stops_w_nearstops.csv filter=lfs diff=lfs merge=lfs -text
preproc/stops_w_nearstops.json filter=lfs diff=lfs merge=lfs -text
preproc/stops_w_nearstops.json.gz filter=lfs diff=lfs merge=lfs -text
